
body{
    padding-top: 70px;
}

.question{
    color: #000;
}

.question:hover,
.question:focus{
    text-decoration: none;
    color: #000;
}

.mainbody{
    padding: 0px;
    margin:0px;
}

/*navbars*/

.navbar{
    background-color: #DC143C;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover 
.navbar-default .navbar-nav>.active>a:after{
    color: #FFF;
    background-color: #000;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
/*    margin: 0px;*/
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}


.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover 
.navbar-default .navbar-nav>.open>a:active {
    color: #FFF;
    background-color: #DC143C;
}


.navbar .navbar-nav>li>a:hover {
    color: #FFF;
}

/*forms*/

.regbody{
    padding:0px;
    margin:50px 0px 0px 0px;
    /*background-color: #000;*/
}

.publishbody{
    padding:0px;
    margin:100px 0px 0px 0px;
    /*background-color: #000;*/
}

.loginbody{
    padding:0px;
    margin:180px 0px 0px 0px;
    /*background-color: #000;*/
}

/*buttons*/
.regbtn{
    width:100%; 
    background-color: #DC143C;
}

.loginbtn{
    width:100%; 
    background-color: #DC143C;
}

.commbtn{
    width:100%; 
    background-color: #DC143C;
}


.pubbtn{
    width:100%; 
    background-color: #DC143C;
}

@media screen AND (max-width:767px){
    .regbody{
    padding:0px;
    margin:0px 0px 0px 0px;   
    /*background-color: #000;*/
    }
    
    .regform{
        background-color:#FFF;
    /*background-color: #000;*/
    }
    
    .loginbody{
    padding:0px;
    margin:120px 0px 0px 0px;   
    /*background-color: #000;*/
    }
    
    .loginform{
        background-color:#FFF;
    /*background-color: #000;*/
    }
    
    .publishbody{
        padding:0px;
        margin:20px 0px 0px 0px;   
        background-color: #FFF;
    }
    
     .publishform{
        background-color:#FFF;
    /*background-color: #000;*/
    }
    
     .dropdown-menu .divider{
        display:none;
/*        padding: 0px 0px;
        margin: 0px;
        clear: both;
        overflow-y: hidden;
        font-weight: 400;
        line-height: 1.42857143;
        color: #FFF;
        white-space: nowrap;*/
    }
    
    .navbar .navbar-right {
        display: inline;      
    }
    
    .navbar .navbar-nav .dropdown .dropdown-menu>li>a {
        display: inline;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #FFF;
        white-space: nowrap;
    }
    
    .navbar .navbar-nav .dropdown .dropdown-menu>li:hover {
        background-color: black;
        color: #FFF;
    }
    
    .navbar .navbar-nav .dropdown .dropdown-menu>li>a:hover {
        color: #FFF;
    }
}
